.container-form {
  display: flex;
  width: 60%;
  flex-direction: column;
  border: 3px solid var(--fourth-color);
  border-radius: 5px;
  padding: 5rem;
  @media (max-width: 768px){
    width: 100%;
  }
}

.title-login{
  background-color: var(--primary-color);
  border-radius: 50px;
  position: absolute;
  top: 27%;
  border: 3px solid var(--fourth-color);
  h1{
    color: var(--fourth-color);
    padding: 1rem;
    margin: 0;
  }
  @media(max-width: 768px){
    top: 21%;
    h1{
      padding: .8rem;
    }
  }
}

.div-input {
  display: flex;
  width: 100%;
  margin: 2rem 0;
  border-bottom: 1px solid var(--grey-color);
}

input {
  width: 90%;
  padding: .5rem .3rem;
  font-size: .97rem;
  border: none;
  outline: none;
}

.label-login{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--fourth-color);
}

.button-login {
  padding:.7rem .3rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  background: var(--fourth-color);
  color: var(--primary-color);
}