.finance-cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  margin-bottom: 25px;

  .card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);

    span{
      display: block;
      color: #000000;
      margin-bottom: 8px;
    }
    strong {
      font-size: 24px;
      font-weight: 700;
      color: #000000;
    }
    &.success {
      background: #ecfdf5;

      strong{
        color: #059669;
      }
    }
  }
}
@media (max-width: 900px) {
  .finance-cards {
    grid-template-columns: 1fr;
  }
}