.financePage{
  padding: 30px;
  h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: #66b280 2px solid;
  }
}