.label-input{
  color: rgb(102, 178, 128);
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
  justify-content: flex-start;
  font-weight: 500;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  width: 100%;
  place-items: center;
  @media(max-width: 425px){
    display: flex;
    flex-direction: column;
  }
}

.select-cummulable{
  width: 92%;
  border: 1px solid var(--fourth-color);
  color: var(--secondary-color);
  padding: .5rem .3rem;
  @media(max-width: 425px){
    width: 93%;
  }
}

.input-add{
  width: 50%;
  display: flex;
  flex-direction: column;
  @media(max-width: 425px){
    width: 90%;
  }
}

.button-add {
  width: 100%;
  padding-top: 2.2rem;
  button {
    border: none;
    border-radius: 5px;
    padding: .5rem 0 !important;
    width: 25%;
    background-color: var(--fourth-color);
    color: var(--primary-color);
  }
  @media(max-width: 425px){
    button{
      width: 85%;
      margin-right: 1.8rem;
    }
  }
}