.container-offre{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3rem 4rem 0 4rem;
}

.title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--fourth-color);
}

h1{
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
}