:root {
  --primary-color : #ffffff;
  --secondary-color: #000000;
  --thridly-color: #eeeeee;
  --fourth-color: #8ec6a1f2;
  --pink-color: #FF5ACD;
  --yellow-color: #FBDA61;
  --grey-color: #333333;
  --red-color: rgb(248,13,13);
}

#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  overflow-x: hidden;
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #66b280;
}

.admin-layout,
.main,
.content {
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}